*{
    margin:0;
    padding: 0;
}


.container{
    height: 50px;
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: azure;
    border: 1px, solid, black;
}

.caixa{
    height: 100px;
    width: 100px;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;

}

